/*p{!* this is a decleration*!*/
/*    border: 1px solid black; !* these are properties*!*/
/*}*/


/*header, section, nav, footer, footer {*/
/*    border: 1px solid black;*/
/*    !*width: 780px;         this is a way of doing it *!*/

/*}*/
/*header{*/
/*    padding: 10px;*/
/*}*/

:root {
    --uofuRed: #D8343A;
}
body {
    background-color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;

    div.container {
        width: 780px;
        margin: 0 auto; /*tb rl*/
        background-color: white;

        section.middle{
            margin: 3px 10px;
            background-image: url("HUMIS_assets/files/uofu_medallion_rt.gif");
            background-position: bottom right;
            background-repeat: no-repeat;

            > nav{
                text-align: right;
                font-size: 10px;

                a{
                    color:black;
                    text-decoration: none;
                    border-right: 1px solid black;
                    padding-right: 5px;
                    margin-left: 3px;


                    &:hover{ /*pseudu class*/
                        text-decoration: underline;
                    }
                    &:last-of-type{
                        border-right: none;
                        padding-right: unset;
                    }
                }
                img{
                    vertical-align: middle;
                }
                &.top-nav{ /*what are the properties */
                    text-transform: uppercase;

                    /*
                    a{
                        &:hover{ !*psudu class*!
                            text-decoration: underline;
                        }
                    }
                    this is if we just if we want the undeline to be in the top nav
                    */
                }
                &.bottom-nav{
                    text-transform: lowercase;
                }
            }
            section.brown-box{
                min-height: 400px; /*min height but can expand*/
                background-color: #D2D2B8;
                margin: 5px 0 50px;
                padding: 10px 10px 10px 15px;
                border-radius: 15px;

                aside{
                    /*border: 1px solid black;*/
                    &.left{
                        width: 27%;
                        float: left;
                        nav{
                            padding: 0 5px 0 30px;
                            /*border: 3px dotted blue;*/
                            a {
                                display: block;
                                color: black;
                                text-decoration: none; /*removes the underline*/
                                border-bottom: 1px solid #505a2f;
                                padding: 10px 0 10px 10px;
                                text-transform: uppercase;
                                font-size: 10px;


                                &:hover{
                                    color: white;
                                    background-color: #505a2f;

                                }
                            }

                        }
                        div.links{
                            margin: 50px auto 0;
                            width: 153px; /*edit the width of the div container so we can amke it in the center*/
                        }
                    }
                    &.right{
                        padding: 10px 10px;
                        margin: auto 10px auto 0;
                        background-color: white;
                        width: 63%;
                        float: right;
                        h1{
                            text-transform: uppercase;
                            color: #575F3A;
                            font-size: 15px;
                            border-bottom: 1px dashed var(--uofuRed);
                            padding-bottom: 6px;
                            font-weight: normal;
                        }

                        p {
                            font-size: 12px;
                            strong{
                                font-size: 13px;
                            }
                            &.link {
                                text-align: right;

                                a {

                                    color: var(--uofuRed);
                                    text-decoration: none;
                                    text-transform: uppercase;
                                    font-size: 11px;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }

                            }
                        }
                    }
                }
            }
        }
        footer {
            background-color: #686F3E;
            color: white;
            font-size: 11px;
            text-align: center;
            padding: 10px 0;
        }
    }

}
